:root {
  --blue: #61dafb;
  --black: #21222a;
  --dark-gray: #282d35;
  --react-white: #deebf8;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 4rem;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 2.8rem;
}

.nav-title {
  font-size: 2.225rem;
  line-height: 1.21;
  font-weight: 700;
  color: var(--blue);
}

.description {
  font-size: 1.6rem;
  color: var(--react-white);
}

main {
  background-color: var(--dark-gray);
  height: 100vh;
  color: white;
  padding: 2.7rem;
  background-image: url("./images/react-icon.svg");
  background-repeat: no-repeat;
  background-position: right 15%;
}

.main-title {
  font-size: 3.9rem;
  font-weight: 700;
}

.main-facts {
  padding-left: 5.1rem;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 46px;
}

.main-facts > li {
  line-height: 19px;
  padding: 1rem 0;
}

.main-facts > li::marker {
  color: var(--blue);
  font-size: 2rem;
}