:root {
  --blue: #61dafb;
  --black: #21222a;
  --dark-gray: #282D35;
  --white: #DEEBF8;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 4rem;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 2.8rem;
}

.nav-title {
  font-size: 2.225rem;
  line-height: 1.21;
  font-weight: 700;
  color: var(--blue);
}

.description {
  font-size: 1.6rem;
  color: var(--white);
}